@charset "UTF-8";

@font-face {
  font-family: "HurmeGeometricSans3-Bold";
  src: local("HurmeGeometricSans3-Bold"),
    url("../fonts/HurmeGeometricSans3-Bold.woff") format("woff");
}

@font-face {
  font-family: "HurmeGeometricSans3-Regular";
  src: local("HurmeGeometricSans3-Regular"),
    url("../fonts/HurmeGeometricSans3-Regular.woff") format("woff");
}

@font-face {
  font-family: "HurmeGeometricSans3-Black";
  src: local("HurmeGeometricSans3-Black"),
    url("../fonts/HurmeGeometricSans3-Black.woff") format("woff");
}

@font-face {
  font-family: "HurmeGeometricSans3-Light";
  src: local("HurmeGeometricSans3-Light"),
    url("../fonts/HurmeGeometricSans3-Light.woff2") format("woff2");
}

// set up variables

$font-regular: "HurmeGeometricSans3-Regular", sans-serif;
$font-bold: "HurmeGeometricSans3-Bold", sans-serif;
$font-black: "HurmeGeometricSans3-Black", sans-serif;
$font-light: "HurmeGeometricSans3-Light", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-base: 16px;
$fs-header: 32px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #0d1116;
$color-bg: #f6f8fa;
$color-accent: #f6a255;
$color-accent-2: #69a7dd;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  font-family: $font-regular;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 1300px;
  margin: auto;

  ::selection {
    background-color: $color-accent-2;
    color: #fff;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  .es-section-title {
    font-family: $font-bold;
    font-size: $fs-header;
    font-weight: $fw-bold;
    text-align: center;
    margin-block: $px-M;
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
