@charset "UTF-8";

@font-face {
  font-family: "HurmeGeometricSans3-Bold";
  src: local("HurmeGeometricSans3-Bold"),
    url("../fonts/HurmeGeometricSans3-Bold.woff") format("woff");
}

@font-face {
  font-family: "HurmeGeometricSans3-Regular";
  src: local("HurmeGeometricSans3-Regular"),
    url("../fonts/HurmeGeometricSans3-Regular.woff") format("woff");
}

@font-face {
  font-family: "HurmeGeometricSans3-Black";
  src: local("HurmeGeometricSans3-Black"),
    url("../fonts/HurmeGeometricSans3-Black.woff") format("woff");
}

@font-face {
  font-family: "HurmeGeometricSans3-Light";
  src: local("HurmeGeometricSans3-Light"),
    url("../fonts/HurmeGeometricSans3-Light.woff2") format("woff2");
}

// set up variables

$font-regular: "HurmeGeometricSans3-Regular", sans-serif;
$font-bold: "HurmeGeometricSans3-Bold", sans-serif;
$font-black: "HurmeGeometricSans3-Black", sans-serif;
$font-light: "HurmeGeometricSans3-Light", sans-serif;

$fs-base: 20px;
$fs-header: 32px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 48px;
$px-XXXL: 64px;

$color-main: #eeeae5;
$color-bg: #13294b;
$color-accent: #005bab;
$color-accent-2: #ea1c2d;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  font-family: $font-regular;
  font-size: $fs-base;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;
  container: es-rc-content / inline-size;

  ::selection {
    background-color: $color-main;
    color: $color-bg;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  .es-section {
    padding: $px-XL;
  }

  .es-section-title {
    font-family: $font-bold;
    font-size: $fs-header;
    text-align: center;
    margin-block: $px-M;
    text-transform: uppercase;
    @container es-rc-content (min-width: 660px) {
      font-size: $fs-header * 1.5;
    }
  }

  .es-mobile {
    display: block;
    @container es-rc-content (min-width: 660px) {
      display: none;
    }
  }
  .es-desktop {
    display: none;
    @container es-rc-content (min-width: 660px) {
      display: block;
    }
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  .es-kv {
    display: flex;
    flex-direction: column;
    gap: $px-L;
    &__logo {
      max-width: 300px;
    }
    &__title {
      text-align: center;
      &--headline {
        font-family: $font-black;
        font-size: 66px;
      }

      &--bottomline {
        font-family: $font-bold;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
    &__packshot {
      position: relative;
      &__img {
        max-height: 450px;
        width: auto;
        margin-block: $px-L;
      }
    }
    &__description {
      &__text {
        font-size: 20px;
      }
    }
    @container es-rc-content (min-width: 440px) {
      &__title {
        &--headline {
          font-size: 88px;
        }
        &--bottomline {
          font-size: 22px;
        }
      }
    }
    @container es-rc-content (min-width: 550px) {
      &__title {
        &--headline {
          font-size: 120px;
        }
        &--bottomline {
          font-size: 30px;
        }
      }
      &__description {
        &__text {
          font-size: 24px;
        }
      }
    }
    @container es-rc-content (min-width: 660px) {
      flex-direction: row;
      justify-content: space-between;
      padding: $px-XXXL $px-XXL;
      background: linear-gradient(180deg, $color-bg 85%, $color-main 85%);
      overflow: hidden;
      &__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
      }
      &__logo {
        margin: 0;
        max-width: 315px;
      }
      &__title {
        text-align: left;
      }
      .es-desktop {
        width: 100%;
      }
      &__description {
        display: flex;
        margin-block: $px-XXXL;
        justify-content: space-between;
        width: 100%;
        &__text {
          max-width: 315px;
        }
        &__icon__img {
          width: 100px;
          margin-left: 24px;
          margin-top: 24px;
        }
      }
      &__packshot {
        display: flex;
        align-items: end;
        position: relative;
        &__img {
          margin: 0;
          max-height: 520px;
          position: relative;
          z-index: 1;

          &--shadow {
            position: absolute;
            bottom: -26px;
            right: -43%;
            width: 450px !important;
            z-index: 0;
          }
        }
      }
    }
    @container es-rc-content (min-width: 768px) {
      &__packshot {
        position: relative;
        &__img {
          max-height: 600px;
        }
      }
      &__description {
        &__icon {
          &__img {
            width: 60%;
          }
        }
      }
    }
    @container es-rc-content (min-width: 880px) {
      &__logo {
        max-width: 390px;
        margin-left: -16px;
        margin-bottom: $px-M;
      }
      &__title {
        &--headline {
          font-size: 145px;
          margin-left: -6px;
        }
        &--bottomline {
          font-size: 36px;
        }
      }
      &__packshot {
        margin-right: $px-XL;
        &__img {
          max-height: 650px;
        }
      }
      &__description {
        margin-block: 80px;
        &__text {
          max-width: 330px;
          font-size: 26px;
        }
        &__icon {
          &__img {
            width: 60%;
          }
        }
      }
    }
  }

  .es-design {
    &__img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-M;
      margin-block: $px-XXL;
    }
    &__description-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-M;
    }
    &__description {
      text-align: center;

      &--statement {
        font-family: $font-black;
        font-size: 24px;
        margin-bottom: $px-S;
      }
      &--disclaimer {
        font-family: $font-light;
        font-size: 16px;
        font-style: italic;
      }
    }
    &__logo {
      max-width: 150px;
    }
    &__text-container {
      font-size: 20px;
      text-align: center;
    }
    &__text {
      &--bold {
        font-family: $font-bold;
      }
      &--light {
        font-family: $font-light;
      }
    }
    @container es-rc-content (min-width: 660px) {
      &__img-container {
        flex-direction: row;
        align-items: flex-start;
        position: relative;
      }
      &__img {
        max-width: 80%;
        margin-left: 30px;
      }
      &__description-container {
        position: absolute;
        max-width: 200px;
        right: 0;
        top: 0;
      }
      &__description {
        text-align: right;
      }
      &__logo {
        width: 100px;
        margin-right: 0;
      }
      &__text-container {
        font-size: 24px;
      }
    }
    @container es-rc-content (min-width: 880px) {
      &__description {
        &-container {
          right: 4%;
          top: 6%;
        }
        &--statement {
          font-size: 32px;
        }
        &--disclaimer {
          font-size: 18px;
        }
      }
    }
  }

  .es-slider {
    // swiper styles reset START
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: unset;
      height: unset;
      position: static;
      justify-content: unset;
      display: unset;
    }
    // swiper styles reset END
    margin-block: $px-XL;

    &__buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      padding: $px-XL;
      &--prev__img,
      &--next__img {
        display: block;
        width: 48px;
        height: 48px;
        margin: 0;
      }
      &--prev__img {
        transform: rotate(180deg);
      }
      &--next {
        margin-left: auto;
      }
    }
    &__slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $px-L;
      padding: $px-XL;
      &__right {
        display: flex;
        flex-direction: column;
        gap: $px-M;
        text-align: center;
      }
      &__title {
        font-family: $font-black;
      }
      &__text {
        padding-right: 32px;
      }
      &--1 {
        background-color: $color-bg;
        color: $color-main;
      }
      &--2 {
        background-color: $color-main;
        color: $color-bg;
        ::selection {
          background-color: $color-bg;
          color: $color-main;
        }
      }
    }
    @container es-rc-content (min-width: 660px) {
      &__slide {
        gap: $px-XXL;
        font-size: 24px;
        &__right {
          gap: $px-L;
        }
      }
    }
    @container es-rc-content (min-width: 756px) {
      &__slide {
        flex-direction: row;
        &__right {
          text-align: left;
          flex: 1 1 0;
        }
        &__left {
          flex: 1 1 0;
        }
        &__text {
          padding-right: 48px;
        }
      }
    }
  }

  .es-steps {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: $px-XL;
    background: linear-gradient(180deg, $color-bg 35%, $color-main 35%);
    &__img {
      max-width: 500px;
    }
    &__steps {
      &__container {
        color: $color-bg;
        ::selection {
          background-color: $color-bg;
          color: $color-main;
        }
      }
      &__title {
        font-family: $font-black;
        font-size: 32px;
      }
      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: $px-L;
        align-items: center;
      }
      &__item {
        display: flex;
        flex-direction: column;
        gap: $px-S;
        max-width: 200px;
        flex: 1 1 0;
        &__number {
          font-family: $font-black;
          font-size: 120px;
        }
        &__image {
          max-width: 100px;
        }
      }
    }
    @container es-rc-content (min-width: 660px) {
      background: linear-gradient(180deg, $color-bg 50%, $color-main 50%);
      &__text {
        font-size: 24px;
      }
      &__steps {
        &__title {
          font-size: 34px;
        }
        &__wrapper {
          flex-direction: row;
          align-items: start;
          justify-content: space-evenly;
        }
        &__item {
          max-width: 250px;
          &__text {
            font-size: 20px;
          }
        }
      }
    }
  }

  .es-features {
    text-align: center;
    .es-section-title {
      text-transform: none;
    }
    &__text {
      &--bold {
        font-family: $font-bold;
      }
    }
    &__wrapper {
      margin-top: $px-XXXL;
    }
    &__container {
      display: flex;
      flex-direction: column;
      gap: $px-L;
      align-items: center;
      margin-block: $px-XL;
      &__item {
        display: flex;
        flex-direction: column;
        gap: $px-M;
        align-items: center;
        max-width: 300px;
        &__img {
          max-width: 300px;
        }
        &__text {
          &--bold {
            font-family: $font-bold;
          }
        }
      }
    }
    @container es-rc-content (min-width: 660px) {
      &__text {
        font-size: 24px;
      }
      &__container {
        position: relative;

        &__img {
          margin-block: 150px;
          max-width: 90%;
        }
        &__item {
          position: absolute;
          max-width: 290px;
          &--1 {
            top: 2%;
            left: 1%;
          }
          &--2 {
            right: -3%;
            top: 9%;
          }
          &--3 {
            bottom: 2%;
            left: 11%;
          }
        }
      }
    }
    @container es-rc-content (min-width: 880px) {
      &__container {
        &__item {
          &--1 {
            top: 2%;
            left: 1%;
          }
          &--2 {
            right: 2%;
          }
          &--3 {
            left: 13%;
          }
        }
      }
    }
  }
}
